[disabled=true] {
    opacity: 0.3;
    pointer-events: none;
}

#alerts {
		position: absolute;
		top: 1em;
		left: 10%;
		right: 10%;
}

.alert {
		border-radius: 0;
		border: none;
}

#menu {
    position: absolute;
    top: 1em;
    left: 1em;
		padding: 0;
		margin: 0;
}
#menu li {
    padding: 1em 0;
}
#menu li a {
    padding: 1em;
}

body, html {
    padding: 0;
    margin: 0;
}
#menu {
    list-style-type: none;
    padding-left: 0;
}

#menu a, #menu a:active, #menu a:visited {
    color: #000;
}

.node > rect {
    fill: #fff;
    stroke: #000;
}

.add-link, circle.handle {
    stroke: #ccc;
    fill: #eee;
    opacity: 0;
    display: none;
    transition-property: opacity;
    transition-duration: 200ms;
}

body.adding-link .add-link {
    display: inherit;
    opacity: 1;
}

body.panning {
		cursor: move;
}

#menu a {
    background-color: transparent;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 200ms;
}

#menu a.active, #menu a:active {
    background-color: yellow;
}

body.adding-node svg {
    cursor: copy;
}

.add-link {
    cursor: crosshair;
}

circle.handle {
    opacity: 0.5;
    cursor: move;
}

circle.handle:hover {
    opacity: 1;
}

.node > text {
    fill: #000;
    font-family: sans-serif;
    font-size: 10px;
}

.node > .title {
    text-anchor: middle;
}

.cursor {
    fill: none;
    stroke: brown;
    pointer-events: none;
}
.link {
    stroke: #999;
    fill: none;
}
.new-link {
    stroke: #0f0;
    pointer-events: none;
}
